# Python cache
__pycache__/
*.py[cod]
*$py.class

.venv/

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.ilg
*.ind
*.idx
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.run.xml
*.bcf
*.lol
*.dvi
*.ps
.vscode/settings.json
